 <!-- footer Address section
                      ========================== -->
                      <div class="footer-address">
                        <h3 class="footer-title lapocolor2">Address</h3>
                        <p>Kampala, Uganda</p>
                        <p class="contact-address">
                          Tel : <a class="lapocolor" href="tel:+256781428316">+256 781428316</a> </p>
                            <p class="contact-address "><a class="lapocolor" href="mailto:info@laposolutions.com">info@laposolutions.com</a>
                        </p>
                    </div>