<div class="row py-5 text-center p-md-5">
    <h2 class="gtitle3 text-center">G-Realm Logo</h2>
    <div class="text-center">
      <img src="images/logo.png" class="img-fluid w-50" alt="">
    </div>
   
</div>


<div class="row py-5">
    <h2 class="gtitle3 text-center" id="timelines">Project timelines</h2>
    <p class="gtitle text-center  my-3 mt-5">
      <span class="bg-dark text-light p-md-3 p-sm-1">
Reading Level 1 : 
      </span>
      <span class="bg-warning text-dark p-md-3 p-sm-1">Advertise the trailer 1st - 30th Jan  2022</span>
    </p>

    <p class="gtitle text-center  my-3">
      <span class="bg-dark text-light p-md-3">
Reading Level 1 : 
      </span>
      <span class="gbutton text-light p-md-3 ">Launch Album on 31st Jan 2022</span>
    </p>


    <p class="gtitle text-center  my-3">
      <span class="bg-dark text-light p-md-3 ">
Reading Level 1 : 
      </span>
      <span class="bg-warning text-dark p-md-3 ">Launch on 1st Feb 2022</span>
    </p>

    <p class="gtitle text-center  my-3">
      <span class="bg-dark text-light p-md-3">
Reading Level 1 : 
      </span>
      <span class="gbutton text-light p-md-3 ">Advertise & Sell 500 copies by 28th Feb 2022</span>
    </p>


</div>

<div class="row py-5">
  <h2 class="gtitle3 text-center">Sales model</h2>
  <p class="gtitle text-center  my-3 mt-5">
    <span class="bg-success text-light p-md-3 p-sm-1">
Create & Advertise a trailer for every album at least 3 weeks before the album launch for people to book.
    </span>
  <p class="gtitle text-center  my-3 mt-5">
    <span class="bg-success text-light p-md-3 p-sm-1">
Promote 2 Free videos on youtube, use them to advertise the complete album.
    </span>
      </p>
  </div>