<div class="container-fluid row  ">
 
  <div class="col-md-12 gmiddle p-1 ">
    <h3 class="gtitle2 p-3">OUR MISSIONS</h3>
    <ol>
      <li class="py-3">
        <p class="gtext justify-content ">
          To custom make Christian and Spirit-Filled but African 3D & 2D animations and illustrations for Bible Stories and Bible lessons for children in Africa to relate with and enjoy learning the word and the ways of God.
        </p>
      </li>
      <li class="pb-3">
        <p class="gtext justify-content ">
          To custom make excellent original Education Media Content (videos, audios, docs) & Education Technology (software & hardware) specifically to help the African children learn better and become very literate & highly skilled. 
        </p>
      </li>
    </ol>
   
 
</div>


</div>