
 
     <form method="post" id="sheetdb-form" name="myForm" class="row g-3 p-md-3  mt-3" onsubmit="return validateForm()" action="https://sheetdb.io/api/v1/oc5ztomnzsa4m">
        <button class="btn btn-sm  col-3 btn-secondary text-white float-right" id="btnrefr" onclick="refr()" style="display: none;">Close</button>
        <script>
          function msg(){
            document.getElementById("msg").style.display = "block";
            document.getElementById("btnmsg").style.display = "none";
            document.getElementById("btnrefr").style.display = "block";
            document.getElementById("sheetdb-form").style.display = "block";
          }
        </script>
    
          <script>
            function refr(){
              document.getElementById("btnmsg").style.display = "block";
            document.getElementById("sheetdb-form").style.display = "none";
            document.getElementById("btnrefr").style.display = "none";
    
            }
          </script>
    <div class="me-1">
      <label for="validationServerUsername" class="form-label h4 lapocolor2 py-3 fw-light">Please send us a message</label>
      <div class="input-group has-validation">
       <input type="text" class="form-control " placeholder="Name" id="validationServerUsername" 
        name="data[name]" aria-describedby="inputGroupPrepend3" required>
             </div>
    </div>


    <div class="me-1">
        <div class="input-group has-validation">
       <input type="text" class="form-control " placeholder="Phone" id="validationServerUsername" 
        name="data[phone]" aria-describedby="inputGroupPrepend3" required>
             </div>
    </div>

    
    <div class="me-1">
      <div class="input-group has-validation">
     <input type="text" class="form-control " placeholder="Email" id="validationServerUsername" 
      name="data[email]" aria-describedby="inputGroupPrepend3" required>
           </div>
  </div>

  <div class="me-1">
    <div class="input-group has-validation">
   <input type="hidden" class="form-control " id="theDate"  placeholder="date" id="validationServerUsername" 
    name="data[date]" aria-describedby="inputGroupPrepend3"   >
         </div>
</div>


<script>
  var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day ;       
document.getElementById("theDate").value = today;
</script>

    <div class="me-1">
         <div class="input-group has-validation">
                  <textarea class="form-control text-dark" name="data[message]" aria-label="textarea" placeholder="message"></textarea>
             </div>
    </div>


    <div class="me-1">
      <div class="input-group has-validation">
        <input type="text" name="robt" placeholder="Are you a robot?">Type yes or no
      </div></div>
    
    <div class="col-9 text-center">
      <button class="btn btn-primary" type="submit">Send message</button>
    </div>
  </form>

<script>
  function validateForm() {
    var x = document.forms["myForm"]["robt"].value;
    if (x == "" || x=="yes" || x!="no" ) {
        alert("You must type no if you are not a robot");
        return false;
    }

    if (x=="no") {
              return true;
    }
}
</script>


<script>
 var form = document.getElementById('sheetdb-form');
 form.addEventListener("submit", e => {
   e.preventDefault();
   fetch(form.action, {
       method : "POST",
       body: new FormData(document.getElementById("sheetdb-form")),
   }).then(
       response => response.json()
   ).then((html) => {
     // you can put any JS code here
     
     window.location.href='sent.html';
   });
 });
</script>
 
 
 

   <!-- Don't need jQuery for Tabletop, but using it for this example -->
   <script type="text/javascript" src="plugins/handlebars.js"></script>
   <script type="text/javascript" src="plugins/jquery.js"></script>
   <script type="text/javascript" src="plugins/tabletop.js"></script>
   