<div class="container-fluid row ps-md-5 ">
  <div class="col-md-1 col-sm-12">
    <img src="images/logo.png" class="img-fluid " alt="">
</div>

<div class="conteiner-fluid row">
  <div class="col-md-8 col-sm-12 ">
    <h3 class="gtitle2 pt-3">THE VISION</h3>
    <p class="gtext justify-content pb-3 ">
        To raise a God-fearing, Educated and Skilled Generation of children in Africa through technology.
            </p>
            <p class="text-left">
              <button class="btn gbutton1 "   onclick="window.location.href='animations.html'">Animation Phases</button>
                 </p>
 
</div>
<div class="col-md-4 text-center">
  <button class="btn gbutton2 "   onclick="window.location.href='#timelines'">Timelines</button>
         
</div>

</div>


</div>